@using WebApplication1.ViewModels
@model EditTaskViewModel
<form method="post" asp-action="Edit" enctype="multipart/form-data">
    <div>
        <label asp-for="Name">Название устройства</label>
        <input asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Model">Модель устройтва</label>
        <input asp-for="Model" />
        <span asp-validation-for="Model" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Problem">Проблема устройства</label>
        <input asp-for="Problem" />
        <span asp-validation-for="Problem" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Description">Описание</label>
        <input asp-for="Description" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="PhoneNumber">Телефон</label>
        <input asp-for="PhoneNumber" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="IsItQuick">Срочность</label>
        <input type="checkbox" asp-for="IsItQuick">
        <span asp-validation-for="IsItQuick" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Применить</button>

</form>