@{
    ViewData["Title"] = "Home";
}



<div class="container"> 

    <div class="user__body">
        <h1 class="user__title">Список заявок</h1>
        <div class="user__table">
            <div class="user__table-right">
                <button class="user__btn">Ремонт ноутбука</button>
                <button class="user__btn">Ремонт стиральной машины</button>
                <button class="user__btn">Ремонт кофемашины</button>
            </div>

            <div class="user__modal">
                <div class="user__info">
                    <div class="user__li">Ремонт ноутбука</div>
                    <div class="user__li">Asus-FB40MIT</div>
                    <div class="user__li">Срочно</div>
                    <div class="user__li">Иван Иванов</div>
                    <div class="user__li">8909-88-77-22</div>
                    <div class="user__li">Сильно шумит и греется при  использовании</div>
                </div>
                <div class="user__btns">
                    <button class="user__button btn">Принять</button>
                    <button class="user__button btn">Закрыть</button>
                </div>
            </div>

            <div class="user__table-left">
                <button class="user__btn">Срочно</button>
                <button class="user__btn">Не срочно</button>
                <button class="user__btn">Не срочно</button>
            </div>
        </div>
    </div>

</div>


    