<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Practice</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />    
    <link rel="stylesheet" href="~/css/reg.css" asp-append-version="true" />    
    <link rel="stylesheet" href="~/css/auth.css" asp-append-version="true" />    
</head>
<body>
    
    <header> 
    
        <a asp-controller="Home" asp-action="Reg">Registration</a>
        <a asp-controller="Home" asp-action="Autorization">Autorization</a>
        <a asp-controller="Home" asp-action="Index">Home</a>

     </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer> footer </footer>
   
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
