<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Practice</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />    
    <link rel="stylesheet" href="~/css/reg.css" asp-append-version="true" />    
    <link rel="stylesheet" href="~/css/auth.css" asp-append-version="true" />    
    <link rel="stylesheet" href="~/css/user.css" asp-append-version="true" />    
    <link rel="stylesheet" href="~/css/header.css" asp-append-version="true" />    
    <link rel="stylesheet" href="~/css/footer.css" asp-append-version="true" />    
</head>
<body>
    <header class="header" id="head"> 
        <div class="header__container container">
            <div class="header__body">
                <nav class="header__nav">
                    <a class="btn" asp-controller="Account" asp-action="Register">Зарегистрироваться</a>
                    <a class="btn" asp-controller="Account" asp-action="Login">Авторизоваться</a>
                    <a class="btn" asp-controller="Task" asp-action="Create">Главная</a>             
                </nav>
            </div>
        </div>
     </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer"> 
        <div class="footer__container container">
            <div class="footer__body">
                <p>8909-88-77-22</p>
                <p>repsupport@gmail.com</p>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
