@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model User
@{
    ViewData["Title"] = "Авторизация";
}
<h1>Авторизация</h1>
<form method="post" asp-controller="Autorisation" asp-action="Check">
    <label asp-for="Name"></label>
    <input asp-for="Name"/>
    <span asp-validation-for="Name"></span>

    <label asp-for="Password"></label>
    <input asp-for="Password"/>
    <span asp-validation-for="Password"></span>

    <label asp-for="Email"></label>
    <input asp-for="Email"/>
    <span asp-validation-for="Email"></span>
    <input type="submit" value="Создать аккаунт" />
</form>