.home__body > *:not(:last-child){
    margin-bottom: clamp(0.625rem, 0.341rem + 1.42vw, 1.25rem);
}

.home__body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home__thumb {
    color: #46394B;
    font-size: clamp(0.938rem, 0.795rem + 0.71vw, 1.25rem);
    font-weight: 500;
    text-align: center;
    line-height: calc(50/20);
}

.home__req {
    width: 100%;
    box-shadow: 0 0 10px #00000050;
}

.home__form > *:not(:last-child){
    margin-bottom: clamp(0.625rem, 0.341rem + 1.42vw, 1.25rem);
}

.home__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



