@{
    ViewData["Title"] = "Home";
}






<div class="container"> 

    <div class="user__body">
        <h1 class="user__title">Список фрилансеров</h1>
        <div class="user__table">
            <div class="user__table-right">
                <button class="user__btn" id="btn1">Фрилансер 1</button>
                <button class="user__btn" id="btn2">Фрилансер 2</button>
                <button class="user__btn" id="btn3">Фрилансер 3</button>
            </div>

            <div class="user__table-left">
                <button class="user__btn">Заблокировать</button>
                <button class="user__btn">Заблокировать</button>
                <button class="user__btn">Заблокировать</button>
            </div>
        </div>
    </div>

</div>