@{
    ViewData["Title"] = "Autorization";
}

<div class="container">

    <div class="auth__body">
        <div class="auth__thumb">
            <h1 class="auth__subtitle">Авторизация</h1>
        </div>

        <form action="#" class="auth__form">
            <div class="auth__req">
                <input placeholder="Ваш e-mail адресс" type="text" class="auth__input input" /> <br/>
                <input placeholder="Ваш пароль" type="text" class="auth__input input" /> <br/>    
            </div>

            <div class="auth__btn">
                <button class="auth__auth btn">Вход</button>
            </div>
        </form>

        
    </div>

</div>