@{
    ViewData["Title"] = "Registration";
}

<div class="container">

    <div class="reg__body">
        <div class="reg__thumb">
            <h1 class="reg__title">Регистрация</h1>
        </div>

        <form action="#" class="reg__form">
            <div class="reg__req">
                <input placeholder="Ваше имя" type="text" class="reg__input"/> <br/>
                <input placeholder="Ваша фамилия" type="text" class="reg__input"/> <br/>
                <input placeholder="Ваш e-mail адресс" type="text" class="reg__input"/> <br/>
                <input placeholder="Придумайте пароль" type="text" class="reg__input"/> <br/>
                <input placeholder="Повторите пароль" type="text" class="reg__input"/> <br/>
            </div>

            <div class="reg__btn">
                <button class="reg__reg">Зарегистрироваться</button>
            </div>
        </form>
    </div>

</div>